body{
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    animation:changes 25s infinite ease-in-out;
}
@keyframes changes{
    0%
    {
        background-image:url(image2.jpg);
    }
    10%
    {
        background-image:url(image3.jpg);
    }
    20%
    {
        background-image:url(image4.jpg);
    }
    30%
    {
        background-image:url(image5.jpg);
    }
    40%
    {
        background-image:url(image6.jpg);
    }
    50%
    {
        background-image:url(image7.jpg);
    }
    60%
    {
        background-image:url(image8.jpg);
    }
    70%
    {
        background-image:url(image9.jpg);
    }
    80%
    {
        background-image:url(image10.jpg);
    }
    90%
    {
        background-image:url(image11.jpg);
    }
    100%
    {
        background-image:url(image12.jpg);
    }


}