body{
    background-color: rgb(235, 245, 262);
}
.form-container {
    background: rgb(202, 222, 242);
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.form-container span {
    font-weight: bold;
    padding: 0px 10px;
    color: rgb(8, 8, 8);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 10px;
    position: absolute;
    top: 150px;
    transition: transform 1s;

}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 5px;
    border: 1px solid #ccc;
}

 form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
} 

#LoginForm {
    /* left:-400px; */
    left: -375px;
}

#SingForm {
    left: -5px;
    
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(50%);
    transition: transform 1s;

}